@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --bg-color: #0b0c10;
  --primary-color: #66fcf1;
  --secondary-color: #1f2833;
  --elements-color: #e6e6e6;
  --secondary-elements-color: #858383;
}

html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--elements-color);
}

a {
  text-decoration: none;
}

/* Layout */
@import "./layout/header.css";
@import "./layout/main.css";
